[submodule "code/third_party/cutlass"]
	path = code/third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
	ignore = untracked
[submodule "code/tools/nccl-tests"]
	path = code/tools/nccl-tests
	url = https://github.com/NVIDIA/nccl-tests.git
	ignore = untracked
[submodule "code/cluster/tools/nccl-tests"]
	path = code/cluster/tools/nccl-tests
	url = https://github.com/NVIDIA/nccl-tests.git
	ignore = untracked
